/*Styles for validation helpers
    -----------------------------------------------------------*/
.field-validaton-error
{
    color: #ff0000;
}

.field-validaton-error {
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validaton-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validaton-summary-valid
{
    display: none;
}
